h1, h2 {
    color: brown;
}

span{
    color: rgb(29, 2, 29);
}
p{
    color: crimson;
    font-display:italic;
}
.mahathi {
    letter-spacing:2px ;
    font-family: monospace;
    color:crimson ;
}
a{
    background-color: yellow;
    color: red;
}
.one{
color:red ;
}

.two{
    background-color: yellow;
    color:crimson ;
     
}
